.vs/ 
3DGraphics.Core/bin/
3DGraphics.Core/obj/
3DGraphics.Core/Content/bin/
3DGraphics.Core/Content/obj/
3DGraphics.Main/bin/
3DGraphics.Main/obj/
3DGraphics.Main/Content/bin/
3DGraphics.Main/Content/obj/
*.tmp 
Debug/
Release/
PerlinNoise/Debug/
*.db
*opendb